<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="css/style.css">
  
  <style type="text/css">
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}

</style>

<script>
function funcao1()
{
alert("Tiene que redireccionar a manmeetinglist. Esta alert debe ser  borrada del codigo ");   
}
</script>

</head>


<body>
 Manager {{ person.firstname }} !
 <button type="button">Sign out</button>
 
 <div id="navegador">
<ul>
<li><a href="manprojects">Projects</a></li>
<li><a href="manuserproglist">User Programmers</a></li>
<li><a href="manmeetinglist" style="background-color:#d97e02; color: #ffffff;" >Meeting List</a></li>

</ul>
</div>

<div>
Create Meeting
<hr style="color: #0056b2;" /> 
 <form action="meetingform" method="POST">
		Name: <input type="text" name="mname" required><br>
		Guests:<br>
		{% for programmer in programmers %}
		<input type="checkbox" name="mprog" value="{{ programmer.id }}">{{ programmer.firstName }} <br>
		{% endfor %}
		
		 
        <button type="submit">Ok</button>
 </form>    
    <!-- a href="manmeetinglist"><button>Ok</button></a-->


</div>


</body>
</html>
