<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Welcome  Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

  <link rel="stylesheet" href="css/style.css">
  
  <style type="text/css">
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
</style>

</head>


<body>
 Welcome Manager Name!
 <button type="button">Sign out</button>
 
 <div id="navegador">
<ul>
<li><a href="manprojectlist">Projects</a></li>
<li><a href="#">User Programmers</a></li>
<li><a href="#">Meeting List</a></li>

</ul>
</div>

<a href="form_create_project"><button type="button">Create Project</button></a>
<br>
<br>
Name Project <button type="button">Go</button>

</body>
</html>
