<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

  <link rel="stylesheet" href="css/style.css">
  
  <style type="text/css">
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
</style>

</head>


<body>
 Manager Name!
 <button type="button">Sign out</button>
 
 <div id="navegador">
<ul>
<li><a href="manprojects">Projects</a></li>
<li><a href="manuserproglist" style="background-color:#d97e02; color: #ffffff;">User Programmers</a></li>
<li><a href="manmeetinglist">Meeting List</a></li>
</ul>
</div>

    <h1>Programmers List </h1>

<hr style="color: #0056b2;" />
    
Select one or more themes

    <form action="">
        <input type="checkbox" name="Theme1" value="Theme1"> Theme1 <br>
        <input type="checkbox" name="Theme2" value="Theme2"> Theme2 <br> 
        <input type="checkbox" name="Theme3" value="Theme3"> Theme3 <br>
        <input type="checkbox" name="Theme4" value="Theme4"> Theme4 <br> 
    </form>    
    <a href="man_prog_rank"><button>Ok</button></a>
</body>
</html>
