<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Welcome Programmer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="css/style.css">
  



<style type="text/css">
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
   </style>
</head>

<body>
 Name Programmer ! 
 <button type="button">Sign out</button>

<div id="navegador">
<ul>
<li><a href="usermeetings">Meetings</a></li>
<li><a href="userprojects">Projects</a></li>
<li><a href="#">Score</a></li>

</ul>
</div>
 
 <h1>Project Name / Task Name</h1> 
 <br>
 Description: Esta es la descripcion de la task
 <br>
 Start Date:  05/01/17 08:00:00 pm.
 <br>
 Dead Line Date : 08/01/17 08:00:00 pm. 
 <br>
 <form action="">
Check Delivery Date<input type="checkbox" name="finished" value="finished"><br>
</form> 
 
<button type="button">Ok</button>

</body>
</html>
