<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Welcome Programmer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="css/style.css">
  



<style type="text/css">
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
   </style>
</head>

<body>
 Programmer Name! 
 <button type="button">Sign out</button>


<div id="navegador">
<ul>
<li><a href="usermeetings">Meetings</a></li>
<li><a href="userprojects">Projects</a></li>
<li><a href="#">Score</a></li>

</ul>
</div>

Add an Option
<br>
	<form action="">
		Day <input type="date" required>
		<br>
		Time <input type="time" required>
		<br>
	<button type="submit">OK</button>
	</form>

</body>
</html>
